
<h1 class="my-4">Product Manager</h1>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Bike Name</th>
        <th scope="col">Photo</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bike of bike">
        <th scope="row" ><p>{{bike.id}}</p></th>
        <td ><p>{{bike.name}}</p></td>
        <td ><p><img  style="width: 70px; height: 40px;" src="{{bike.img}}" alt=""></p></td>
        <td ><p>{{bike.price}}</p></td>
        <td ><p>{{bike.status}}</p></td>
        <td> <button class="btn btn-primary d-block w-100 btn-lg" (click)="removeItem(bike.id)">Delete</button></td>
      </tr>
      
    </tbody>
  </table>